@import "../../styles/variables";
@import "../../styles/mixins";

main {
  color: white;
  background: $dark-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;

  .content-headers {
    margin: 15rem 0;
    h1 {
      color: #fff;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;

      @include respond-to(md) {
        font-size: 5rem;
      }
    }

    h3 {
      color: #ef9b15;
      font-size: 1rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}
