@import "../../styles/variables";
@import "../../styles/mixins";

.contacts {
  background: $light-gray;
  padding: 2rem 0 1rem 0;

  h2 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 3rem 0;
    color: white;
  }

  .container .form #myForm {
    display: flex;
    flex-direction: column;
  }

  label {
    padding-top: 10px;
    font-weight: 500;
  }

  .form-submit {
    background: #fcc801;
    color: white;
    border: none;
    width: 240px;
    height: 55px;
    flex-shrink: 0;
    margin: 2rem auto 6rem auto;
    font-weight: 600;
    text-transform: uppercase;
  }

  .form-submit:hover {
    color: #040823;
    background: #fcc801;
  }

  input[type="text"],
  input[type="tel"],
  textarea {
    background: $light-gray;
    color: #fff;
    min-height: 40px;
    width: 100%;
    margin: 1.5rem 0 0 0;
    font-weight: 500;
    border: 1px solid #fcc801;
    resize: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    padding: 1rem;
  }

  input[type="text"]:focus,
  input[type="tel"]:focus,
  textarea:focus {
    outline: none;
    padding-left: 1rem;
  }

  textarea {
    min-height: 100px;
  }

  .container a,
  a:visited,
  a:active,
  a:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  .error-message {
    color: red;
    font-size: 1em;
    font-weight: 500;
  }

  .successContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8rem;
    img {
      width: 100px;
      margin: 40px auto;
    }
    p {
      text-align: center;
      font-size: 2rem;
      font-weight: 300;
    }
  }

  @include respond-to(lg) {
    .container .form .row {
      padding: 0 10rem;
    }
  }
}
