@import "../../styles/variables";

.vacancy-page {
  background-color: $dark-gray;
  min-height: 80vh;
  padding-bottom: 2rem;
  .salary {
    font-weight: 600;
  }

  .company {
    font-size: 1.3rem;
  }
  .wrapper {
    span {
      font-size: 0.8rem;
      font-weight: 700;
    }

    p,
    a {
      color: white;
      padding: 0;
      margin: 0;
      text-decoration: none;
    }

    margin-bottom: 2rem;
  }
}
