@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: white;

  .social-media {
    display: flex;
    justify-content: center;
  }

  .social-media a:not(:last-child) {
    margin-right: 13px;
  }
}
