@import "../../styles/variables";
@import "../../styles/mixins";

.main-directions {
  background: $dark-gray;
  color: white;
  padding: 100px 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    h2 {
      margin-bottom: 75px;
      text-align: center;
    }
    .vectors {
      .vector {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        padding-bottom: 1rem;
        border-bottom: 1px solid $dark-gray;
        &:hover,
        &:active {
          border-bottom: 1px solid #fcc801;
        }
      }
      img {
        width: 60px;
        height: 60px;
        margin-right: 30px;
      }
      p {
        margin: 0;
      }
    }
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent backdrop
    z-index: 1050; // Ensure it is above other content
    .modal-content {
      width: 90%; // or fixed width like 500px
      max-width: 600px; // Ensures the modal is not too wide on larger screens
      background: $light-gray;
      padding: 20px;
      border-radius: 8px;
      position: relative; // For positioning the close button or other elements absolutely within this container
      .modal-body {
        p {
          font-size: 1rem;
          @include respond-to(md) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
