@import "../../styles/variables";
@import "../../styles/mixins";

.about {
  color: white;
  padding: 4rem 0;
  font-weight: 500;
  background: $light-gray;
  .about-wrapper {
    padding: 1rem;

    @include respond-to(md) {
      padding: 1rem 3rem;
    }

    @include respond-to(lg) {
      padding: 1rem 4rem;
    }
    @include respond-to(xl) {
      padding: 1rem 5rem;
    }
    @include respond-to(xxl) {
      padding: 1rem 6rem;
    }
    .about-heading {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 3rem;
      h3 {
        padding: 0 3rem;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        @include respond-to(md) {
          font-size: 2rem;
        }
      }
    }
    .mission {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @include respond-to(md) {
        font-size: 2rem;
      }
      .mission-logo {
        width: 50px;
        margin: 10px 10px 0 0;
      }

      p {
        padding: 0 2rem;
      }
    }
  }
}
