@import "../../styles/variables";

.problems {
  color: white;
  padding: 40px 0;
  background: $light-gray;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  h2 {
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
  }
  .problem {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 4rem 0;

    .image-container img {
      padding: 1rem 2rem;
    }
  }
}
