@import "../../styles/variables";
@import "../../styles//mixins";

.footer {
  text-transform: uppercase;
  background: $light-gray;
  padding: 2rem 0 0 0;
  color: white;

  .container {
    .footer-border {
      border-bottom: 1px solid #fcc801;

      .footer-logo-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        .footer-logo {
          display: flex;
          align-items: center;
          img {
            width: 70px;
            margin-right: 1rem;
          }
          p {
            margin: 0;
          }
        }

        @include respond-to(lg) {
          display: flex;
          justify-content: start;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .address,
  .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    @include respond-to(lg) {
      .social-media {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .footer-bottom {
    padding-top: 1rem;
    text-transform: none;
    p {
      color: gray !important;
    }
    .developer {
      text-align: center;
      padding-bottom: 1rem;
      @include respond-to(md) {
        text-align: right;
      }
    }
  }

  a,
  a:visited,
  a:active,
  a:focus {
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  @include respond-to(lg) {
    .footer .container .row .footer-logo-container {
      display: flex;
      justify-content: start;
      margin-bottom: 1rem;
    }
    .footer .social-media {
      display: flex;
      justify-content: flex-end;
    }
  }
}
