@import "../../styles/variables";
@import "../../styles/mixins";

.partners {
  background: $dark-gray;
  color: white;
  padding: 2rem 0;
  h2 {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .partners-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @include respond-to(lg) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  .partners-logo img {
    width: 200px;
    margin: 4rem 3rem;
  }

  .partners-logo .ministry {
    width: 150px;
  }

  .partners-logo .office {
    border-radius: 10px;
  }
}
