@import "../../../styles/variables";

.vacancy {
  background-color: $light-gray;
  color: white;
  padding: 1rem;
  margin: 0 0 2rem 0;
  border-bottom: 1px solid $light-gray;

  .salary {
    font-weight: 600;
    margin-right: 2rem;
  }

  .description {
    max-height: 6rem;
    overflow: hidden;
    margin-top: 1rem;
  }
  &:hover,
  &:active {
    border-bottom: 1px solid #fcc801;
  }
}
