@import "../../styles/variables";

header {
  background: $dark-gray;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
  padding: 1rem 0;
}

.navbar-brand img {
  width: 50px;
}

.navbar-brand p {
  padding: 0;
  color: white;
  margin: 0 10px 0;
  font-size: 10px;
  font-weight: 600;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  text-decoration: underline;
  color: #fff;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(244, 202, 69)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .number-container {
  display: none;
}

.navbar .number-container img {
  margin-right: 1rem;
}

.navbar .number-container a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navbar .navbar-collapse .number-container {
  display: block;
  margin: 3rem auto;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-collapse .number-container img {
  margin-right: 1rem;
}

.navbar .navbar-collapse .number-container a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
