@import "../../styles/variables";

.vacancies {
  h1 {
    text-align: center;
    margin: 0 auto;
  }
  h2 {
    margin-bottom: 3rem;
  }
  padding: 2rem;
  min-height: 75vh;
  background-color: $dark-gray;
  overflow: auto;
}
